.subp
{	
	position: relative; 
	color : white ;
	display: inline-block ;
	font-size: 3rem ;
	border-radius: 1rem ;
	margin: 2rem 3rem ;
	padding: 6.5rem 3rem 3rem ;
	border : 1px solid black ;
	min-width: 27vw ;
	min-height: 33.5vh ;
	transition: all 0.5s ;
}

/*.Salmon
{
	background: linear-gradient(rgba(250 ,128,114,0.8) , rgba(250 ,128,114,0.8)), url('../img/p4.jpg') ;
}
*/
.text
{	font-size: 5.2rem ;
	font-family: 'Tangerine', cursive;
	color: white;
	margin-top: 3em ;

}

.text:hover
{
	color: white ;
}

.subp:hover
{
	transform: scale(1.05);
}