@import url('https://fonts.googleapis.com/css?family=Roboto');

.box
{
	display: inline-block;
	margin : 1em 3em ;
}

.ch
{
	font-size: 1.5rem ;
	font-family: 'Roboto', sans-serif ;
}

input[type="radio"]
{	border : 2px solid gray;
	color : #0DFF92;
	width: 2em ;
	height: 2em;
}